@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@300 & display=swap');

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: lightgray;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: lightcoral;
    box-shadow: rgba(255, 255, 255, 0.);
    padding: 20px;
    color: white;
}

@keyframes h1 {
        0%{
            background-color: white;
            border: 2px solid;
            border-color: white;
            border-radius: 10px;
        }
        50%{
            background-color: gainsboro;
            border: 4px solid;
            border-color: gainsboro;
            border-radius: 20px;
        }
        100%{
            background-color: gray;
            border: 4px solid;
            border-color: gray;
            border-radius: 30px;
        }
    }

header h1 {
    color: white;
    animation-name: h1;
    animation-duration: 3s;
    animation-iteration-count:  infinite;
}

header h1:hover {
    border-bottom: 3px solid pink;
    font-size: 20px;
    transition: all 1s;
}

header nav a {
    text-decoration: none;
    color: white;
    padding: 10px;

}

header nav a:hover {
    border-bottom: 3px solid pink;
    font-size: 20px;
    transition: all 1s
}

.div-animacao {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.animada {
    margin: 0 10px 0 0;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50px;
}

.animada:hover {
    height: 120px;
    width: 120px;
    border-radius: 8px;
    border: solid pink;
    border-radius: 100px;
    transition: all 3s;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 10px;
    width: 80%;
}

form label {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

form input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 7px;
}

form input:hover {
    border: 3px lightgreen solid;
    transition: 0.5s;
}

form input:focus {
    border: 3px, skyblue solid;
    background-color: gray;
    color: black;
}

form textarea {
    width: 100%;
    border-radius: 7px;
    padding: 5px;
}

form button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: lightcoral;
    font-weight: bold;
    text-transform: uppercase;
}

form button:hover {
    padding: 15px;
    background-color: lightgreen;
    font-weight: bold;
    color: white;
    transition: all 0.5s;
}
